:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --sticky-background: #ebebeb;
  --button-background: #e5e5e5;
  --border-color: #cacaca;
}

.darkMode {
  --background-color: #1a1a1a;
  --text-color: #f0f0f0;
  --sticky-background: #222222;
  --button-background: #202020;
  --border-color: #545454;
}

.hidden {
    display: none !important;
}

.recipeRow {
    display: flex;
    justify-content: center; /* centers the recipes */
    gap: 20px;
    padding-top: 20px;
}

.staysTop {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: sticky;
    top: 0; /* The element will stick when its top edge reaches the viewport's top edge */
    background-color: var(--sticky-background); /* Example background */
    padding: 1rem; /* Example padding */
}

.overlay {
  display: flex;
  position: fixed; /* Sit on top of the page content */
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  pointer-events: visible;
}

#titleBar {
  font-size: 2vw;
}

#jumpscareText {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  font-size: 2vw;
}

#BOE-JIDEN {
  position: absolute;
  width: 100%;
  transform: translateY(-3%);
}

#KIRBY {
  position: absolute;
  width: 90%;
  transform: translateY(-4%);
}

#ROZY {
  position: absolute;
  width: 70%;
  transform: translateY(-12%);
}

#BAYAK {
  position: absolute;
  width: 80%;
  transform: translateY(-3%);
}

#JENSON {
  position: absolute;
  width: 75%;
  transform: translateY(-15%) translateX(5%);
}

#DANIEL {
  position: absolute;
  width: 65%;
  transform: translateY(-15%);
}

#DUO {
  position: absolute;
  width: 65%;
  transform: translateY(-15%);
}

#jumpscareIdDuo {
  color: #000;
}

input[type="text"] {
    background-color: var(--button-background);
    color: var(--text-color);
    border-color: var(--border-color);
}

button {
    background-color: var(--button-background);
    color: var(--text-color);
    border-color: var(--border-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}